.chart {
   
	-fx-insets: 0 0 0 0;
	-fx-background-color:  transparent;
}
.chart-content {
   /* -fx-padding: 20px;*/
	-fx-insets: 0 0 0 5;
    
}
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 10px;
   -fx-text-align: center;
	
   
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: #D8D8D8;
	
}

.chart-plot-background {
    -fx-background-color: black;
}

.chart-plot-background {
    -fx-background-color: black;
}
.chart-vertical-grid-lines {
    -fx-stroke:transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.chart-alternative-row-fill {
    -fx-fill: black;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}