@font-face {
  font-family: 'Ubuntu';
  src: url('Ubuntu-Regular.ttf');
}

.button{
  -fx-font-family: 'Ubuntu';
  -fx-font-weight: bold;
	-fx-background-color:  #696969;
}

.button:hover {
  -fx-background-color:  #8CC5F4;
}