.button{
	-fx-background-image: url(../imagens/passos.png);
	/*-fx-background-image: url(../imagens/confirmarAcao.png);*/
	-fx-background-size: 8px 8px;
	-fx-background-color: #3F3F3F;
	-fx-background-position: center;
	-fx-min-height: 12px;
    -fx-min-width: 12px;
	-fx-background-repeat: no-repeat;
}

