.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #1c1c1c;

}

.tab-pane .tab:selected
{
  /*  -fx-background-color: #3c3c3c;*/
  -fx-background-color: #8cc5f4;
  -fx-text-fill: #2d2d2d;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #3d3d3d;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #2d2d2d;
}